
{{#with content}}
    <h2>Build Chart: {{name}}</h2>
    <ul> 
    {{#each section in sections}} 
        <li> 
            {{ section.id }}
            {{ section }}
        </li> 
    {{/each}}
    </ul>
{{/with}}

<div class="form-actions">
  <a class="btn" {{action cancelBuild}}>Cancel</a>
</div>
