
{{#with content}}
  <legend>{{ name }}</legend>
{{/with}}

<div class="alert">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <strong>Warning!</strong> Builder not suited to touch devices
</div>

<div class="form-actions">
  <a class="btn" {{action cancelBuild}}>Cancel</a>
</div>
