
{{#with content}}
  <legend>{{ name }}</legend>
{{/with}}


<div class="span7">

    <p class="muted">        span7Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.   </p>
    <p class="text-warning"> kwarningEtiam porta sem malesuada magna mollis euismod.             </p>
    <p class="text-error">   Donec ullamcorper nulla non metus auctor fringilla.                 </p>
    <p class="text-info">    Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis. </p>
    <p class="text-success"> Duis mollis, est non commodo luctus, nisi erat porttitor ligula.    </p>

</div>

<div class="span8 form-actions">
  <a class="btn" {{action cancelRead}}>Cancel</a>
</div>
