<div class="one-third column">
  &nbsp;
</div>
<div class="one-third column">
      <h3>Reading</h3>
      <form method='post'>
      <% @reading['read_html'].each do |html| %>

        <div>
            <%= html %>
        </div>

      <% end %>
      </form>
</div>
<div class="one-third column">
  &nbsp;
</div>
    
