<div class="span12">

  <div class="hero-unit">

    <h1> About </h1>

    <p>
      Got a process? .. Need your process processed? .. Perhaps ProPro is for you?
    </p>

    <ul>
      <li> Turn your process into a flow chart </li>
      <li> Easy to use flow chart builder </li>
      <li> Selection of flow chart nodes to use </li>
      <li> Create custom nodes to enable any process </li>
      <li> Automate or manually run a process</li>
    </ul>

    <p>
      Sounds good, but what can I use it for?
    </p>

    <ul>
      <li> Telephone scripts for call center </li>
      <li> Use multiple API's to extract and amalgamate data </li>
      <li> Take an order from placement to fulfilment </li>
      <li> Anything you can think of! </li>
    </ul>

  </div>

</div>
