

<div class="accordion-group" id="section-line-' + sectionLine.id + '">
  <div class="accordion-heading">
    <a href="javascript: delSectionLine('+sectionLineId+','+sectionId+')" class="pull-right">x</a>
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#section-builder-lines" href="#' + slColId + '"> 
        Section Line <%= @section_line.id %>
    </a>
  </div>
  <div id="' + slColId + '" class="accordion-body collapse">
    <div class="accordion-inner"> 
        <%= @section_line.edit_html %>
    </div>
  </div>
</div>

