<form class="navbar-form pull-left">
    <fieldset>
        <legend>Update Chart</legend>
        <label>Name</label>
        {{view Ember.TextField valueBinding="name" placeholder="New chart name..."}} <br/>
        <span class="help-block">{{name}}</span>
        <button {{action cancel }} class="btn">Back</button>
    </fieldset>
</form>
