
.chart-section {
  position: relative;
  border:thin solid blue; 
  float: left;
  clear: both;

  background-clip: padding-box;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin: 2px 0 0;
  min-width: 160px;
  padding: 5px;
}
.edge-label {
  color: #fff;
}
#chart-connect {
  display: none;
}
