// Place all the styles related to the Builder controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chart-section {
  position: relative;
/*  border:5px solid blue; 
  float: left;
  clear:both;
 */
}
