
<h1> <%= @reading.current_section.id %> (<%= @reading.id %>) </h2>

<%= form_tag("/reader/#{@reading.id}", :multipart => true, :method => :post) do |f| %>
  <div>
    <%= raw @reading.current_html_output %>  
  </div>
<% end %>
